body{
 
  background-color:#0d1224;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  line-height:24px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 16px;
}
a{
  color:inherit;
  text-decoration: none;
}
.logo{
 
    width: 240px;
    height: 40px;
    margin-left:10px;
    padding:0px;
  
  
}
.header{
    display:flex;
    width:98%;
    padding-top: 16px;
    padding-bottom:16px;
    padding-left:24px;
    padding-right:24px;
    border-bottom: 1px solid #b3b8ff49; 
    justify-content: space-between;
    align-items: center;
    position:fixed;
    overflow: auto;
    box-sizing:border-box;
    background-color: #0d1224;
    top:0;
    z-index:2001;

    
}
.flexdiv{
  display:flex;
  align-items:center;
 
}
.headertext{
  color:whitesmoke;
  margin:0px 8px 0px 0px;
}

.animatedbtn {
  align-items: flex-start;
  padding: 8px 29px;
  font-size: 18px;
  border: none;
  border-radius: 9999px; /* Pill shape */
  cursor: pointer;
  animation: gradient 6s ease infinite; /* Smooth animation */
  transition: transform 0.15s cubic-bezier(.4, 0, .2, 1);
  background-size: 200% 200%; /* Allows for smooth gradient transition */
}

@keyframes gradient {
  0% {
      background-position: right; /* Start position */
      background: linear-gradient(45deg, #405de6, #5b51d8);
  }
  25% {
      background-position: left; /* Move to left */
      background: linear-gradient(45deg, #833ab4, #c13584);
  }
  50% {
      background-position: left; /* Stay at left */
      background: linear-gradient(45deg, #e1306c, #fd1d1d);
  }
  75% {
      background-position: right; /* Move back to right */
      background: linear-gradient(45deg, #f56040, #405de6);
  }
  100% {
      background-position: right; /* End position */
      background: linear-gradient(45deg, #405de6, #5b51d8);
  }
}
.animatedbtn:hover {
  transform: scale(1.05);
}


/* The side navigation menu */
.sidebar {
  margin-top:90px;
  padding-top:50px;
  padding-right:20px;
  padding-left:0;
  width: 300px;
  background-color: #0d1224;
  position: fixed;
  height: 98%;
  border-right:1px solid #b3b8ff42;
  overflow: auto;
  box-sizing:border-box;
  flex-direction:column;
  
  
}
.icon{
  height:22px;
  width:22px;
  color:white;
  margin-right:1px;

}

/* Sidebar links */
.sidebar a {
  display: flex;
  color:whitesmoke;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  
    border-left: 5px solid;
    border-image: #009e89e8;
   
    background-image:linear-gradient(to right,#26ffe340,#0d1224fd) ;
    color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color:#273566;
  color: white;
}


.main {
  
  padding-left: 360px; /* Padding inside the main content area */
  padding-right:100px;
  padding-top:150px;
  padding-bottom:500px;
  width:auto;
  border-bottom:1px solid #10236442;
  
}
.footer{
  padding-left:360px;
  padding-right:100px;
  padding-top:10px;
  padding-bottom:20px;
  width:auto;
  color:aliceblue;
  
}

button{
  background-color:#0d1224;
  padding:10px 20px;
  color:white;
  border:1px solid;
  border-color: #273566;
  border-radius:20px;
  margin-top:4px;
  
}

.grid{
  margin-top:20px;
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap:24px;
  

}
.thumbnail{
  max-width:100%;
  height:100%;
  padding:5px;
  display:block;
  border-radius:16px;
  cursor:pointer;
  
}
.line{
  display:none;
}
.smallline{
  width:300px;
}

@media screen and (max-width:800px)
{
  .header{
    display:flex;
    width:98%;
    padding-top: 10px;
    padding-bottom:10px;
    padding-left:4px;
    padding-right:4px;
    border-bottom: 1px solid #b3b8ff49; 
    justify-content: space-between;
    align-items: center;
    position:fixed;
    overflow: auto;
    box-sizing:border-box;
    background-color: #0d1224;
    top:0;
    margin:0px;
}
.logo{
 
  width: 150px;
  height: 25px;
  margin-left:6px;


}
.headertext{
  display:none;
  font-size: 10px;
  color:whitesmoke;
  padding-right:5px;
  overflow-wrap: normal;
}
.animatedbtn{
  display:none;
}

.sidebar {
  margin-top:50px;
  padding-top:10px;
  padding-right:20px;
  padding-left:0;
  width: 100%;
  height: auto;
  position: relative;
  
}
  .sidebar a {
    text-align: center;
    float:none;
    align-content: center;
    align-items:center;
    }

    div.content {margin-left: 0;}  
  .main{
    margin:0px;
    padding:10px;
  border-bottom:1px solid #16359b42;

  }
  .footer{
    margin:0px;
    padding:10px;
    color:aliceblue;

  }
  .thumbnail{
    max-width:98%;
    height:100%;
    padding:5px;
    display:block;
    border-radius:12px;
    
  }
  .line{
    display:block;
  }
}

